.hero {
    padding: 1em;
    width: min(50em, 90%);
    margin: auto;
    display: grid;
    grid-template-columns: 35% 1fr;
}
.hero-main {
    font-size: 4rem;
}
.hero-content {
    padding: 1rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}