.main-nav > ul {
    display: flex;
    font-size: 1.25rem;
    list-style: none;
    align-items: center;
    gap: 2em;
    padding-inline: 2em;
}
li img {
    width: 2em;
}
li {
    padding-block: 1em 0.5em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
li:last-child {
    margin-left: auto;
}
ul > li > * {
    text-decoration: none;
    color: inherit;
}
li::after {
    content: "";
    position: absolute;
    background-color: var(--clr-primary-400);
    inset: 98% 0 0 0;
    transform: translateX(-100%);
    transition: transform 250ms ease-in-out;
}
li:hover:not(:has(img))::after {
    transform: translateX(0);
}