#support {
    min-height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.form-element {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    font-size: 1.25rem;
}

input,
textarea {
    font-size: 1.25rem;
    resize: none;
    padding-inline: 1em;
    border-radius: 1em;
    border: none;
}
textarea {
    padding-block: 1em;
}

.submit-btn {
    all: unset;
    margin: auto;
    border: 2px solid white;
    border-radius: 1em;
    padding: 0.5em 2em;
}